<div class="box">
  <article class="media">
    <div class="media-content">
      <div class="content">
        <li>
          <strong><%= comment.user.name%></strong>
          <p><%= comment.text %></p>
        </li>
      </div>
    </div>
  </article>
</div>

