<div class="box">
  <article class="media">
    <div class="media-content">
      <div class="content">
        <li>
          <strong><%= comment.user.name%></strong>
          <p><%= comment.text %></p>
        </li>
        <% if comment.user.id == current_user.id %>
          <tr>
            <td><%= link_to 'Edit', edit_blog_comment_path(comment.blog_id, comment.id) %></td>
            <td><%= link_to 'Destroy', blog_comment_path(comment.blog_id, comment.id), method: :delete, data: { confirm: 'Are you sure?' } %></td>
          </tr>
        <% end  %>
      </div>
    </div>
  </article>
</div>

